
.stats-container{
	width: 262px;
	padding: 3%;	
	background-color: #FBFBFB;
}

.score-container{
	width: 103px;
}

.title{

	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #232527;
}
.score{
	display: flex;
	flex-direction: row;

	width: auto;
	justify-content: space-around;
}

.obtain{
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 48px;


color: #1890FF;
}

.slash{
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 48px;
	
	color: #232527;
}

.total{
	
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 48px;
	
	color: #232527;
}

.try{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

.divider{
	width: 121.85px;
	float: left;
	border: 1px solid #B2B2B2;

}

.option-container{
	margin-top:28%;
	height: 152px;
	width: 220px;;
	position: relative;

}

.opt-title{
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #232527;
}

.select-pair{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.size{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #232527;
}

.button{
	color: white;
	background: #1890FF;
	border-radius: 2px;
	 position: absolute !important;
	bottom: 2%;
	left: 1%;
}
