
._container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;

}

.text{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    /* identical to box height */
    color: #232527;

}