body{
    background-color: #F2F2F2;
}

.text{
    height: 55px;
    // left: 0%;
    // right: 0%;
    // top: calc(50% - 55px/2 + 0.5px);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    /* identical to box height */
    color: #232527;

}